.layout {
  padding: 42px 60px 42px 60px;
  gap: 39px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  > div {
    border-radius: 22px;
    background: #fff;
    padding: 30px;
    &:first-child {
      flex: 40%;
    }
    &:last-child {
      flex: 60%;
    }
  }
}
