.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.textWidth {
  width: 80%;
  margin-top: 12px;
  margin-bottom: 42px;
}

.formInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--white-20);
  height: 30px;
  width: 30px;
}

.link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.forgotPassword {
  margin-left: auto;
}

.btnLayout {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 42px;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    justify-content: space-between;
  }
}