.container {
  border-radius: 8px;
  background: var(--white-10);
  padding: 22px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chooseFile {
  border-radius: 8px;
  border: 1px dashed var(--black-10);
  padding: 10px 40px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}