.text {
  line-height: normal;
}

.colorWhite {
  color: var(--white-0);
}

.colorBlack60 {
  color: var(--black-60);
}

.colorBlack100 {
  color: var(--black-100);
}

.colorBlack {
  color: var(--black);
}

.uppercase {
  text-transform: uppercase;
}

.weight300 {
  font-weight: 300;
}

.weight400 {
  font-weight: 400;
}

.weight500 {
  font-weight: 500;
}

.sizeSm {
  font-size: 0.75rem;
}

.sizeBase {
  font-size: 0.875rem;
}

.sizeLg {
  font-size: 1rem;
}

.sizeXl {
  font-size: 1.125rem;
}

.sizeXxl {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .sizeXxl {
    font-size: 0.875rem;
  }
}