.layout {
  padding: 0 60px 100px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    padding: 0 0 100px 0;
  }
  > a {
    display: flex;
    width: fit-content;
  }
  .caseStudy {
    padding: 40px;
    border-radius: 22px;
    background: var(--White-0, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (max-width: 768px) {
      padding: 20px 16px;
    }
    .titleLayout {
      display: flex;
      flex-direction: column;
      gap: 19px;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
    }
    .contentLayout {
      display: flex;
      gap: 20px;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .client {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        border-radius: 22px;
        background: var(--Yellow, #f3ff97);
        @media (max-width: 768px) {
          width: 100%;
        }
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 22px;
        }
        > div {
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
          > span {
            color: var(--Black-60, #8e8e89);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
          }
          p {
            color: var(--Black-100, #3b3b35);
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
      .details {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 768px) {
          width: 100%;
        }
        .challenge {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          border-radius: 22px;
          background: var(--Black-100, #3b3b35);
          h3 {
            color: var(--White-0, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 12px;
          }
          p {
            color: var(--White-0, #fff);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .solution {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          border-radius: 22px;
          background: var(--White-20, #f5f4f2);
          h3 {
            color: #3b3b35;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 12px;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            li {
              display: flex;
              align-items: center;
              gap: 8px;
              span {
                &:first-child {
                  width: 34px;
                  height: 22px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 100px;
                  background: var(--White-10, #fcfcfa);
                  svg {
                    width: 14px;
                    height: 14px;
                  }
                }
                &:last-child {
                  color: var(--Black-100, #3b3b35);
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }
          }
        }
      }
    }
    .results {
      display: flex;
      width: 100%;
      padding: 0 20px;
      gap: 20px;
      @media (max-width: 768px) {
        flex-direction: column;
        padding: 0;
      }
      > div {
        width: 25%;
        @media (max-width: 768px) {
          width: 100%;
        }
        &.resultsTitle {
          padding: 10px 30px;
          display: flex;
          align-items: center;
          gap: 12px;
          justify-content: space-between;
          border-radius: 22px;
          background: var(--Black-100, #3b3b35);
          color: var(--White-0, #fff);
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          svg {
            width: 32px;
            height: 32px;
          }
        }
        &.resultsItem {
          padding: 20px;
          border-radius: 22px;

          &:nth-child(2) {
            background: var(--White-0, #fff);
          }
          &:nth-child(3) {
            background: var(--White-20, #f5f4f2);
          }
          &:nth-child(4) {
            background: var(--Yellow, #f3ff97);
          }
          > span {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            justify-content: center;
            > div {
              color: var(--Black-100, #3b3b35);
              text-align: center;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            > span {
              color: var(--Black-100, #3b3b35);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.heading {
  color: var(--Black-100, #3b3b35);
  text-align: center;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
