.footerTopLayout {
  padding: 64px 60px;
  background-color: var(--white-0);
  display: flex;
  justify-content: space-between;
}

.logoLayout {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.addressLayout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 350px;
}

.listLayout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    transition: all 300ms ease-in-out;

    &:hover {
      color: var(--black-60);
    }
  }
}

.navigationLayout {
  display: flex;
  gap: 64px;
}

.footerBottomLayout {
  padding: 20px 60px;
  background-color: var(--white-10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts, .links {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1024px) {
  .footerTopLayout {
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
  }

  .addressLayout {
    width: 100%;
  }

  .list {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .footerTopLayout {
    padding: 40px 16px;
  }

  .navigationLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
  }

  .contacts {
    flex-direction: column-reverse;
  }

  .footerBottomLayout {
    flex-direction: column-reverse;
    gap: 8px;
    text-align: center;
  }

  .text {
    font-weight: 300;
  }
}