.layout {
  background-color: var(--white-0);
  border-radius: 22px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 650px;
}

.text {
  margin-top: 12px;
}

.imgLayout {
  position: relative;
  height: 250px;
}

.btn {
  width: max-content;
  margin-left: auto;
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .layout {
    max-width: 100%;
    width: 100%;
  }

  .img {
    object-fit: cover;
    max-width: none;
    border-radius: 18px;
  }

  .btn {
    margin: 0;
    width: 100%;
    padding: 12px 18px;
    font-weight: 300;
  }
}