.layout {
  margin: 100px 60px 0 60px;
  border-radius: 22px;
  background: var(--yellow);
  padding: 60px 30px;
}

.tag {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top {
  display: flex;
  flex-direction: column;
  width: 590px;
  margin: 0 auto;
  text-align: center;
  gap: 19px;
  justify-content: center;
  align-items: center;
}

.requestFormNav {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.servicesLayout {
  margin-top: 65px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cardLayout {
  position: relative;
  border-radius: 22px;
  height: 550px;
  background-color: var(--white-0);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.servicesBottom {
  margin-top: auto;
}

.titleTop {
  margin-top: auto;
  border-radius: 22px;
  padding: 20px;
  background-color: var(--white-0);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

@media (max-width: 1400px) {
  .servicesLayout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 930px) {
  .servicesLayout {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .top {
    width: 100%;

    .text {
      font-weight: 300;
    }
  }

  .requestFormNav {
    a, button {
      width: 100%;
    }
  }

  .layout {
    margin: 100px 0 0 0;
    padding: 40px 16px 16px 16px;
  }
}