.row {
  display: flex;
  gap: 20px;
}

.titleService {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.specifyInput {
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.service {
  border-radius: 6px;
  background-color: var(--white-10);
  padding: 8px 20px 8px 12px;
}

.formLayout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  gap: 8px;
}

.btns {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

@media (max-width: 1058px) {
  .grid {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .formLayout {
    gap: 30px;
  }

  .btns {
    justify-content: center;

    button {
      width: 100%;
    }
  }
}