.text {
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 768px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

@media (max-width: 768px) {
  .text {
    width: 100%;
    padding: 60px 16px 42px 16px;
  }
}