.row {
  display: flex;
  gap: 20px;
}

.formLayout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btns {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

@media (max-width: 1058px) {
  .row {
    flex-direction: column;
    gap: 18px;
  }

  .btns {
    justify-content: center;

    button {
      width: 100%;
    }
  }
}