.title {
  font-feature-settings: 'liga' off, 'clig' off;
  line-height: normal;
}

.colorBlack {
  color: var(--black-100);
}

.colorBlack60 {
  color: var(--black-60);
}

.level1 {
  font-size: 2.875rem;
}

.level2 {
  font-size: 2rem;
}

.level3 {
  font-size: 1.75rem;
}

.level4 {
  font-size: 1rem;
}

.weight700 {
  font-weight: 700;
}

.weight600 {
  font-weight: 600;
}

.weight500 {
  font-weight: 500;
}

.weight400 {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .level1 {
    font-size: 2.25rem;
  }

  .level2 {
    font-size: 1.75rem;
  }

  .level3 {
    font-size: 1.375rem;
  }
}